<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/commun.css}">
</head>
<body>
	<th:block th:replace="header.html" />

	<div class="container">
		<h1 class="bleu">Votre film</h1>
		<br>
		<br>
		<div>
			<form class="form-horizontal" th:object="${livre}">
				<div class="form-group">
					<label for="titre" class="col-xs-2 control-label">Titre :</label>
					<div class="col-xs-10">
						<input id="titre" th:field="*{titre}" readonly class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="auteur" class="col-xs-2 control-label">Auteur :</label>
					<div class="col-xs-10">
						<input id="auteur" th:field="*{auteur}" readonly class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="isbn" class="col-xs-2 control-label">ISBN :</label>
					<div class="col-xs-10">
						<input id="isbn" th:field="*{isbn}" readonly class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="nbpages" class="col-xs-2 control-label">Nombre de pages
						:</label>
					<div class="col-xs-5">
						<input id="nbpages" th:field="*{nombreDePages}" readonly
							class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="titre" class="col-xs-2 control-label">Lu ?</label>
					<div class="col-xs-10">
						<input th:field="*{lu}" readonly class="form-control" />
					</div>
				</div>



				<div class="form-group">
					<label for="resume" class="col-xs-2 control-label">Résumé
						:</label>
					<div class="col-xs-10">
						<textarea id="resume" rows="5" th:field="*{resume}" readonly class="form-control"></textarea>
					</div>
				</div>

<!--				<h2 th:if="*{#arrays.length(listeAvis) > 0}">Liste des avis</h2>-->

				<!--<div class="form-group" th:each="a,iter : *{listeAvis}">
					<label for="titre" class="col-xs-2 control-label"
						th:text="${'Avis ' + (iter.index + 1) + ' par ' + a.auteur.username}"></label>
					<div class="col-xs-2">
						<input th:value="${a.note}" readonly class="form-control" />
					</div>
					<div class="col-xs-8">
						<input th:value="${a.avis}" readonly class="form-control" />
					</div>
				</div>-->

			</form>
		</div>
	</div>
	<th:block th:replace="footer.html" />
</body>
</html>