<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/commun.css}">


    <style type="text/css">


        .centre {
            text-align: center;
        }


        img {
            vertical-align: bottom;
        }
    </style>
</head>
<body>
<th:block th:replace="header.html"/>

<div class="container">

    <p th:if="${erreur}" th:text="${erreur}">

    </p>

    <h1 class="bleu">Liste des éditeurs<span class="badge btn-primary gros pull-right"
                                           th:text="${#arrays.length(listeE)}"></span></h1>

    <table class="table table-hover table-striped">
        <tr>
            <th>Nom</th>
        </tr>
        <tr th:each="editeur : ${listeE}">

            <td th:text="${editeur.libelle}"></td>
            <td>
                <a th:href="@{/editeur/supprimer/{id}(id=${editeur.id})}">Supprimer</a>
            </td>
            <td>
                <a th:href="@{/editeur/modifier/{id}(id=${editeur.id})}">Modifier</a>
            </td>
        </tr>
    </table>


</div>

<th:block th:replace="footer.html"/>


</body>
</html>