<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/commun.css}">


    <style type="text/css">


        .centre {
            text-align: center;
        }


        img {
            vertical-align: bottom;
        }
    </style>
</head>
<body>
<th:block th:replace="header.html"/>

<div class="container">

    <p th:if="${erreur}" th:text="${erreur}">

    </p>

    <h1 class="bleu">Liste des livres<span class="badge btn-primary gros pull-right"
                                           th:text="${#arrays.length(listeL)}"></span></h1>

    <table class="table table-hover table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>ISBN</th>
            <th>Nombre de pages</th>
            <th>Résumé</th>
            <th>Lu</th>
            <th th:if="${@membre.id != 0}">Avis</th>
        </tr>
        <tr th:each="l : ${listeL}">

            <td><a th:href="@{afficher(id=${l.id})}"><span th:text="${l.titre}"></span></a></td>
            <td th:text="${l.auteur}"></td>
            <td th:text="${l.isbn}"></td>
            <td th:text="${l.nombreDePages}"></td>
            <td th:text="${l.resume}"></td>
            <td th:text="${l.isLu()}"></td>
            <td th:if="${@membre.id != 0}">
                <a th:href="@{/supprimer/{id}(id=${l.id})}">Supprimer</a>
            </td>
            <td th:if="${@membre.admin}">
                <a th:href="@{/modifier/{id}(id=${l.id})}">Modifier</a>
            </td>
        </tr>
    </table>


</div>

<th:block th:replace="footer.html"/>


</body>
</html>