<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/commun.css}">

</head>
<body>
	<th:block th:replace="header.html" />
	<div class="container">
		<h1 class="bleu">Modification d'un livre</h1>
		<br>
		<p class = "erreur" th:if="${erreur}" th:text="${erreur}"></p>
		<br>
		<div>
			<form th:action="@{/modifier/{id}(id=${livre.id})}" method="POST"
				class="form-horizontal" th:object="${livre}">

				<div class="form-group">
					<label for="titre" class="col-xs-2 control-label">Titre :</label>
					<div class="col-xs-10">
						<input id="titre" th:field="*{titre}" placeholder="Titre du livre ..." class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="auteur" class="col-xs-2 control-label">Auteur :</label>
					<div class="col-xs-10">
						<input id="auteur" th:field="*{auteur}" placeholder="Auteur" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="isbn" class="col-xs-2 control-label">ISBN</label>
					<div class="col-xs-10">
						<input id="isbn" th:field="*{isbn}" placeholder="ISBN" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="nbPages" class="col-xs-2 control-label">Nombre de pages</label>
					<div class="col-xs-10">
						<input type="number" id="nbPages" th:field="*{nombreDePages}" placeholder="Nombre de pages" class="form-control" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="resume" class="col-xs-2 control-label">Résumé
						:</label>
					<div class="col-xs-10">
						<textarea id="resume" rows="5" th:field="*{resume}" placeholder="Résumé" class="form-control"></textarea>
					</div>
				</div>

				<select th:field="*{editeur}">
					<option th:each="${editeurs}" th:value="*{editeur.id}" th:text="*{editeur.libelle}"></option>
				</select>

				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				</div>

			</form>
		</div>
	</div>
	<th:block th:replace="footer.html" />

</body>
</html>